body {
    margin: 0;
    background: #061006;
    color: #c8ffc8;
    font-family: 'Courier New', monospace;
}

/* MENU */
nav {
    background: #020702;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #9aff9a;
    margin: 0 15px;
    text-decoration: none;
}

/* HEADER (IGUAL QUE BATMAN) */
header {
    text-align: center;
    padding: 100px 20px 60px;
}

header h1 {
    font-size: 4rem;
    letter-spacing: 6px;
    color: #2aff2a;
}

/* IMAGEN SUPERIOR DERECHA */
.acertijo-top {
    position: absolute;
    top: 120px;
    right: 40px;
    max-width: 260px;
}

.acertijo-top img {
    width: 100%;
    border: 2px solid #2aff2a;
    box-shadow: 0 0 20px rgba(42,255,42,0.5);
}

/* LAYOUT PRINCIPAL */
.acertijo-layout {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    align-items: center;
}

/* IMAGEN */
.acertijo-img img {
    width: 100%;
    max-width: 400px;
    border: 2px solid #2aff2a;
    box-shadow: 0 0 20px rgba(42,255,42,0.5);
}

/* TEXTO */
.acertijo-info {
    flex: 1;
}

.acertijo-info li {
    margin: 12px 0;
}

/* PUZZLE */
.puzzle {
    max-width: 900px;
    margin: auto;
    background: #020702;
    padding: 20px;
    border-left: 4px solid #2aff2a;
    text-align: center;
}

.puzzle input {
    padding: 10px;
    width: 80%;
    background: black;
    color: #9aff9a;
    border: 1px solid #2aff2a;
}

.puzzle button {
    padding: 10px 20px;
    background: #2aff2a;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    color: #ff4d4d;
}

/* 📱 RESPONSIVE (CLAVE) */
@media(max-width:768px){

    /* IMAGEN ARRIBA */
    .acertijo-top{
        position: static;
        margin: 20px auto;
        display: block;
    }

    /* LAYOUT */
    .acertijo-layout{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .acertijo-img img{
        max-width: 250px;
    }

    .puzzle input{
        width: 95%;
    }

    .puzzle button{
        width: 100%;
    }
}
