body {
    margin: 0;
    background: #061006;
    color: #c8ffc8;
    font-family: 'Courier New', monospace;
}

/* MENU */
nav {
    background: #020702;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #9aff9a;
    margin: 0 15px;
    text-decoration: none;
}

/* HEADER */
header {
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 4rem;
    color: #2aff2a;
    letter-spacing: 5px;
}

/*IMAGEN ARRIBA DERECHA */
.acertijo-top {
    position: absolute;
    top: 120px;
    right: 40px;
    width: 260px;
}

.acertijo-top img {
    width: 100%;
    border: 2px solid #2aff2a;
    box-shadow: 0 0 20px rgba(42,255,42,0.5);
}

/*LAYOUT CON IMAGEN */
.acertijo-layout {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

/* IMAGEN IZQUIERDA */
.acertijo-img img {
    width: 100%;
    max-width: 350px;
    border: 2px solid #2aff2a;
    box-shadow: 0 0 20px rgba(42,255,42,0.5);
}

/* TEXTO */
.acertijo-info {
    flex: 1;
}

/* SECCIONES */
section {
    max-width: 900px;
    margin: auto;
}

/* PUZZLE */
.puzzle {
    background: #020702;
    padding: 30px;
    border: 1px solid #2aff2a;
    text-align: center;
}

.puzzle input {
    padding: 10px;
    width: 80%;
    background: black;
    color: #9aff9a;
    border: 1px solid #2aff2a;
}

.puzzle button {
    padding: 10px 20px;
    background: #2aff2a;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    color: #ff4d4d;
}

/* RESPONSIVE */
@media(max-width:768px){
    .acertijo-layout{
        flex-direction: column;
        text-align: center;
    }

    .acertijo-top{
        position: static;
        margin: 20px auto;
    }
}
